 
 </div>
     <footer>
       <ul class="declare">
        <li>关于绿洲</li>
        <li>联系我们</li>
        <li>加入我们</li>
        <li>帮助中心</li>
       </ul>
       <ul class="link">
         <li><i class="weibo iconfont">&#xe64d;</i></li>
         <li><i class="wechat iconfont">&#xe631;</i></li>
         <li><i class="qzone iconfont">&#xe618;</i></li> 
       </ul>
     </footer> 
    </div>
</body>
</html>