<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </head>
  <body> 
    <div id="container">  
      	<div class="bg-roll"> 
               <div id="bg2"></div> 
            </div>  
            <!--login frame-->
            <div class="loginframe">
              <div class="frame">
               <!--gonna to choose which form do you want-->
                 <div class="login">
                     <div class="title regis"><a href="/reg">注册</a></div>
                     <div class="title logining"><a href="/login">登陆</a></div>  
                 </div> 
                <!--log form change into different form-->
              <div class="log-form">