<%- include form-header %>  
        		<div class=" sign-up" id="sign-up">
                      <form method="post">
                        <p><span id="people"><img src="./images/people.png"></span><input type="text" name="name" placeholder="姓名"></p>
                        <p><span id="key"><img src="./images/key.png"></span><input type="password" name="password" placeholder="密码"></p>
                        <p><span id="confirm"><img src="./images/key.png"></span><input type="password" name="confirm" placeholder="再次输入密码"></p>
                        <p><span id="mail"><img src="./images/mail.png"></span><input type="email" name="email" placeholder="邮箱"></p> 
                        <input class="submit" type="submit"> 
                      </form> 
                    </div>
    <%- include form-footer %>